<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MMSuite1">
	<test thread-count="5" name="MM_Web_Test">
		<parameter name="Browser" value="chrome" />
		<classes>
			<class name="com.mm.testcases.TC002_HomePageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- MMSuite1 -->